.marginTop {
	margin-top: 20px;
	padding-bottom: 20px;
}

footer {
	background-image: url("/api/nasa-image-of-the-day.php");
}

#cookieBanner {
	z-index: 999;
    border-radius: 0;
    display: none;
}

#foot {
	position: fixed;
	height: auto;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
}
